<div class="add-planning-container">
  <mat-form-field class="planning-input" id="start-point" appearance="fill" (click)="pickStartPoint()">
    <mat-label>Start point</mat-label>
    <input matInput #startPoint readonly [(ngModel)]="startPointText">
  </mat-form-field>
  <mat-form-field class="planning-input" id="end-point" appearance="fill" (click)="pickEndPoint()">
    <mat-label>End point</mat-label>
    <input matInput #endPoint readonly [(ngModel)]="endPointText">
  </mat-form-field>
  <button mat-flat-button class="save-button" (click)="savePlanning()">SAVE</button>
</div>

