@import '/src/styles.scss';

.login-page-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  min-width: 1120px;
  overflow-x: hidden;
  background-color: $white;
}
