<div class="add-place-container">
  <mat-form-field class="place-input" id="name-input" appearance="fill">
    <mat-label>Place name</mat-label>
    <input matInput #placeName>
  </mat-form-field>

  <mat-form-field class="place-input" id="location-input" appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput #placeLocation>
  </mat-form-field>

  <mat-form-field appearance="fill" class="place-input" id="date-input">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" #placeDate>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="place-input" id="date-input" appearance="fill">
    <mat-label>Choose time</mat-label>
    <input matInput #placeTime>
    <!-- <input matInput type="time" #placeTime> -->
  </mat-form-field>

  <div class="add-image-section">
    <ng-container *ngFor="let picker of imageCount$.value">
      <ngp-image-picker #imagePicker [_config]="imagePickerConf" ($imageChanged)="onImageChange($event)"></ngp-image-picker>
    </ng-container>

    <button #addPhoto mat-fab color="primary" aria-label="add photo button" class="add-photo-button" (click)="addExtraPhoto()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field class="place-summury-input" appearance="fill">
    <mat-label>Place summary</mat-label>
    <textarea matInput placeholder="" #placeDescription rows="10"></textarea>
  </mat-form-field>

  <button mat-flat-button class="save-button" (click)="savePlace()">SAVE</button>
</div>

