@import '/src/styles.scss';

::ng-deep .mat-bottom-sheet-container {
  border-radius: 4px 4px 0px 0px;
}

.edit-account-container {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: 35vw 35vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

.account-input{
  width: 40vw;

  &#name-input {
    grid-column: 1;
  }

  &#address-input {
    grid-column: 1;
    grid-row: 2;
  }

  &#bio-input {
    grid-column: 1;
    grid-row: 3;
  }
}

ngp-image-picker {
  grid-column: 2;
  grid-row: 1 / 3;
  margin: auto;
}

::ng-deep .image-holder {
  margin-inline: auto;
}

// ::ng-deep .image-upload-btn {
//   border-radius: 100vw !important;
//   width: 20vw !important;
//   height: 20vw !important;
// }

::ng-deep .popup{
  width: 100% !important;
}

textarea {
  height: 25vh;
}

.save-button {
  grid-column: 2;
  grid-row: 3;
  width: 16vw;
  margin-inline: auto;
  height: 40px;
  background-color: mat-color($primary);
  color: $white;
}
