<div class="edit-account-container">
  <mat-form-field class="account-input" id="name-input" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder='{{ User$.value?.username }}' #name>
  </mat-form-field>
  <mat-form-field class="account-input" id="address-input" appearance="fill">
    <mat-label>City</mat-label>
    <input matInput placeholder='{{ User$.value?.address }}' #address>
  </mat-form-field>
  <ngp-image-picker #imagePicker [_config]="imagePickerConf" ($imageChanged)="onImageChange($event)"></ngp-image-picker>
  <mat-form-field class="account-input" id="bio-input" appearance="fill">
    <mat-label>Bio</mat-label>
    <textarea matInput placeholder='{{ User$.value?.bio }}' #bio></textarea>
  </mat-form-field>
  <button mat-flat-button class="save-button" routerLink="/account" (click)="saveAccount()">SAVE</button>
</div>
