@import '/src/styles.scss';

::ng-deep mat-bottom-sheet-container {
  // width: 80vw;
  height: 80vh;
  background-color: $white;
  box-shadow: 4px -4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 4px 4px 0px 0px;
}

.add-trip-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name-date-inputs-container {
  width: 25vw;
}

.name-input {
  width: 50vw;
  height: 40px;
  padding-left: 16px;

  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;
}

.calendar-card {
  width: 50vw;
}

::ng-deep .image-upload-btn {
  border-radius: 4px !important;
  width: 320px !important;
  height: 240px !important;
}

.trip-summury-input {
  width: 100vw;
}

.save-button {
  width: 280px;
  height: 40px;
  background-color: mat-color($primary);
  color: $white;
}
