<div class="add-trip-inputs-container">
  <div class="name-date-inputs-container">
    <input matInput placeholder="Trip name" class="name-input">
    <mat-card class="calendar-card">
      <mat-calendar></mat-calendar>
    </mat-card>
    <!-- <p>Selected date: {{selected}}</p> -->
  </div>
  <ngp-image-picker></ngp-image-picker>
  <mat-form-field class="trip-summury-input" appearance="fill">
    <mat-label>Trip summury</mat-label>
    <textarea matInput placeholder=""></textarea>
  </mat-form-field>
</div>
<button mat-flat-button class="save-button" routerLink="/">SAVE</button>
