@import '/src/styles.scss';

::ng-deep .mat-bottom-sheet-container{
  max-height: 90vh;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.map {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/map.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  position: fixed !important;
  z-index: 3;
  top: 70vh;
  right: 5vw;
}

mat-icon {
  color: $white;
}

app-home-cards {
  position: fixed !important;
  z-index: 2;
  top: 80vh;
  left: 5vw;
  width: 90vw;
}
