<!-- <mat-slider aria-label="unit(s)" class="primary"></mat-slider> -->

<div class="card-container" *ngFor="let place of CurrentTrip$.value.tripPlaces; let i = index">
  <p class="date">{{ place.date }}</p>
  <mat-card class="place-card">
    <mat-card-header>
      <mat-card-title class="card-name">{{ place.name }}</mat-card-title>
      <p class="location">
        {{ place.location }}
      </p>
      <p class="time">
        {{ place.time }}
      </p>
      <div class="subtitle-div">
        <p>
          {{ place.description }}
        </p>
      </div>
    </mat-card-header>

    <div class="content-container">


      <mat-card-content>
        <div class="place-photo-group-container">
          <div class="place-photo" *ngFor="let photo of CurrentTrip$.value.tripPlaces[i].photos">
            <img #placeimage class="place-image-s" id="place-image" [src]="photo" (click)="viewImage()">
            <div #imageviewer id="image-viewer" (click)="closeImage()">
              <img #fullimage class="modal-content" id="full-image" [src]="photo">
            </div>
          </div>
        </div>

        <button mat-mini-fab class="options-button mat-elevation-z0">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-content>

      <mat-card-actions>
        <div class="actions-bg">
          <button mat-button class="comment-button mat-elevation-z0">
            <p>{{ CurrentTrip$.value.tripPlaces[i].photos.length }}</p>
            <mat-icon>comment</mat-icon>
          </button>
          <button mat-button class="favorite-button mat-elevation-z0">
            <p>{{ CurrentTrip$.value.tripPlaces[i].photos.length*5 }}</p>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
  </div>
