<div class="card-container" *ngFor="let trip of Trips">
<mat-card class="trip-card" (click)="sendTrip(trip)" [ngStyle]="{'background-image':'trip.photo'}">
  <img class="background-img" [src]="trip.photo">
  <mat-card-header>
    <mat-card-title class="card-name">{{trip.name}}</mat-card-title>
    <p class="date">
      {{trip.date}}
    </p>
  </mat-card-header>
  <mat-card-actions>
    <div class="actions-bg">
      <button mat-button class="place-button mat-elevation-z0">
        <p>{{ trip.tripPlaces.length }}</p>
        <mat-icon>place</mat-icon>
      </button>
      <button mat-button class="comment-button mat-elevation-z0">
        <p>{{ Trips.length*3 }}</p>
        <mat-icon>comment</mat-icon>
      </button>
      <button mat-button class="favorite-button mat-elevation-z0">
        <p>{{ Trips.length*9 }}</p>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
</div>
