@import '/src/styles.scss';

::ng-deep .mat-bottom-sheet-container{
  max-height: 90vh;
  overflow: hidden;
}

::ng-deep .leaflet-control-container {
  display: none;
}

.map-container {
  width: 80vw;
  height: 90vh;
}

.map {
  position: absolute;
  z-index: 1;
  width: 80vw;
  height: 90vh;
  cursor: pointer;
}

button {
  position: fixed !important;
  z-index: 3;
  top: 80vh;
  right: 15vw;
}

mat-icon {
  color: $white;
}
