@import '/src/styles.scss';

:host {
  display: block;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.full-image {
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
}

mat-icon {
  color: $white;
}
