@import '/src/styles.scss';

.account-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 25vw;
  border-radius: 0px;
  box-shadow: none !important;
}

.back-button {
  margin-right: 25vw;
  background-color: $white;
}

.user-photo {
  width: 10vw;
  height: 10vw;
}

user-card-header {
  margin-top: 24px !important;
}

::ng-deep .mat-mdc-card-header {
  padding: 16px 16px 16px;
}

// mat-card-actions {
//   margin-left: 116px;
//   padding: 0 0;
// }

mat-card-content {
  text-align: center;
  margin-block: 16px;
}

.account-data {
  margin: 1rem;

  &#name {
    font-weight: bold;
    font-size: 18px
  }

  &#address {
    font-size: 14px;
  }

  &#bio {
    font-size: 14px;
    color: $gray;
  }
}

.account-button {
  width: 25vw;
  height: 40px;
  border-radius: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 16px;

  &#edit-button {
    background-color: mat-color($primary) !important;
    color: $white !important;
    margin-top: 1rem;
  }

  &#logout-button {
    background-color: $gray !important;
    color: $white !important;
  }

  &#delete-button {
    background-color: mat-color($accent) !important;
    color: $white !important;
  }
}
