<div class="account-container">
  <mat-card class="user-card mat-elevation-z0">
    <mat-card-header>
      <img mat-card-image [src]="User$.value?.photo" alt="user photo" class="user-photo">
    </mat-card-header>
    <mat-card-content>
      <mat-card-title class="account-data" id="name">Name: {{User$.value?.username}}</mat-card-title>
      <p class="account-data" id="city">City: {{User$.value?.address}}</p>
      <p class="account-data" id="bio">{{User$.value?.bio}}</p>
      <button mat-flat-button class="account-button" id="edit-button" (click)="openBottomSheet()">Edit account</button>
      <button mat-flat-button class="account-button" id="logout-button" (click)="logout()" routerLink="/login">Log out</button>
      <button mat-flat-button class="account-button" id="delete-button" routerLink="/comming-soon">Delete account</button>
    </mat-card-content>
</mat-card>
  <app-auth-illustration></app-auth-illustration>
</div>
