@import '/src/styles.scss';

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 232px;
  border-radius: 0px;
  box-shadow: none !important;
}

.user-photo {
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
  border: 4px solid mat-color($primary);
}

user-card-header {
  margin-top: 24px !important;
}

::ng-deep .mat-mdc-card-header {
  padding: 16px 16px 16px;
}

// mat-card-actions {
//   margin-left: 116px;
//   padding: 0 0;
// }

mat-card-content {
  text-align: center;
}

mat-card-title {
  font-weight: bold;
  font-size: 18px;
  color: $black;
  margin-block: 8px;
}

.bio {
  color: $gray;
  width: 300px;
  padding-inline: 16px;
  margin-top: 24px;
}
